.NewsCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 400px;
    width: 350px;
}

.NewsTopImage {
    background: #4CAF50;
    height: 200px;
    width: 350px;
}

.NewsTitle {
    display: flex;
    height: 50px;
    padding: 10px;
}

.NewsContent {
    height: 150px;
    position: relative;
}

.NewsCommentTextBox {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.CircleProfile {
    background: red;
    border-radius: 50%;
    height: 35px;
    padding: 4px;
    width: 35px;
    margin-right: 10px;
}